@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
.height{
    height: 650px;
}
.position-sm{
    position: absolute;
    left: 41rem;
    top: 36rem;
    width: 10rem;
    height: 15rem;
}
.position-md{
    position: absolute;
    left: 40rem;
    top: 35rem;
    width: 12rem;
    height: 16rem;
}
.position-lg{
    position: absolute;
    left: 39rem;
    top: 34rem;
    width: 14rem;
    height: 17rem;
}

.spotify{
        width: 140px;
        height: 43px;
}
.amazon{
    width: 120px;
    height: 38px;
}
.logitec{
    width: 120px;
    height: 37px;
}
.cisco{
    width: 120px;
    height: 69px;
}
.spotify{
    width: 140px;
    height: 43px;
}
.vector-1{
    left: 0; 
    top:5rem;
    width:8rem; 
    height:13rem;
}
.vector-2{
    left: 0; 
    top:4rem;
    width:9rem; 
    height:15rem;
}
.vector-3{
    left: 0; 
    top:3rem;
    width:10rem; 
    height:17rem;
}